Repository california-energy-commission/2019-HERS-Documents-Schema, changes with the owners that CODEOWNERS names for each.
All owners: @california-energy-commission/software-developers, @california-energy-commission/core, @california-energy-commission/maintainers

CODEOWNERS:

*                     @california-energy-commission/software-developers

/tools/**             @california-energy-commission/core
.circleci/            @california-energy-commission/core

/assets/**            @california-energy-commission/software-developers
/schema/**            @california-energy-commission/software-developers
/deployed/**          @california-energy-commission/software-developers

/CEC-Documents/**     @california-energy-commission/maintainers

Revised CF1R word docs
  CEC-Documents/Revision batch V2019.1.001/CF1R/2019-CF1R-ADD-01-E-PrescriptiveAdditionsBuilding.docx
  CEC-Documents/Revision batch V2019.1.001/CF1R/2019-CF1R-ALT-01-E-PrescriptiveAlterationsBuilding.docx
  CEC-Documents/Revision batch V2019.1.001/CF1R/2019-CF1R-ALT-02-E-PrescriptiveAlterationsHVAC.docx
  CEC-Documents/Revision batch V2019.1.001/CF1R/2019-CF1R-ENV-04-E-CoolRoofAndSRIWorksheet.docx
  CEC-Documents/Revision batch V2019.1.001/CF1R/2019-CF1R-ENV-06-E-InteriorExteriorInsulationWorksheet.docx
  CEC-Documents/Revision batch V2019.1.001/CF1R/2019-CF1R-NCB-01-E-PrescriptiveNewlyConstructedBuilding.docx
  CEC-Documents/Revision batch V2019.1.001/CF1R/~$19-CF1R-ALT-02-E-PrescriptiveAlterationsHVAC.docx
Owners: @california-energy-commission/maintainers

Delete ~$19-CF1R-ALT-02-E-PrescriptiveAlterationsHVAC.docx
  CEC-Documents/Revision batch V2019.1.001/CF1R/~$19-CF1R-ALT-02-E-PrescriptiveAlterationsHVAC.docx
Owners: @california-energy-commission/maintainers

Commit new change notes
  CEC-Documents/Revision batch V2019.1.001/Revision batch2019.1.001.docx
Owners: @california-energy-commission/maintainers

Add 14 more tests for the deployed schema folder.
  .circleci/config.yml
Owners: @california-energy-commission/core

Update Revision batch2019.1.001.docx
  CEC-Documents/Revision batch V2019.1.001/Revision batch2019.1.001.docx
Owners: @california-energy-commission/maintainers

Final draft of Change Notes
  CEC-Documents/Revision batch V2019.1.001/Revision batch2019.1.001.docx
  CEC-Documents/Revision batch V2019.1.001/~$vision batch2019.1.001.docx
Owners: @california-energy-commission/maintainers

Added NRCV layout Docs
  CEC-Documents/Revision batch V2019.1.001/NRCV/2019-NRCV-MCH-27b-HighriseResidential.docx
  CEC-Documents/Revision batch V2019.1.001/NRCV/2019-NRCV-MCH-27c-HighriseResidentialHighriseResidScheduledRealTimeControl.docx
  CEC-Documents/Revision batch V2019.1.001/NRCV/2019-NRCV-MCH-32-LocalMechanicalExhaust.docx
  CEC-Documents/Revision batch V2019.1.001/NRCV/2019-NRCV-PLB-21-HERS-HighRiseMultifamilyCentralHotWaterSystemDistribution.docx
  CEC-Documents/Revision batch V2019.1.001/NRCV/2019-NRCV-PLB-22-HERS-HighRiseSingleDwellingUnitHotWaterSystemDistribution.docx
Owners: @california-energy-commission/maintainers

Schema Fixes and deploy (#198)
  deployed/schema/CF1R/CF1RNCB01E.xsd
  deployed/schema/NRCV/NRCVPLB21H.xsd
  schema/CF1R/CF1RNCB01E.xsd
  schema/NRCV/NRCVPLB21H.xsd
Owners: @california-energy-commission/software-developers

Mods to CF3RMCH24a-b
  deployed/schema/CF3R/CF3RMCH24aH.xsd
  deployed/schema/CF3R/CF3RMCH24bH.xsd
  schema/CF3R/CF3RMCH24aH.xsd
  schema/CF3R/CF3RMCH24bH.xsd
Owners: @california-energy-commission/software-developers

Patch cf3 rmch25c (#205)
  deployed/schema/CF3R/CF3RMCH25cH.xsd
  schema/CF3R/CF3RMCH25cH.xsd
Owners: @california-energy-commission/software-developers

Process and deploy revised CF2R/CF3R MCH25c schema (#207)
  deployed/schema/CF2R/CF2RMCH25cH.xsd
  deployed/schema/CF3R/CF3RMCH25cH.xsd
  schema/CF2R/CF2RMCH25cH.xsd
  schema/CF3R/CF3RMCH25cH.xsd
Owners: @california-energy-commission/software-developers

Word docs for revision batch
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-ENV-03-InsulationInstallation.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-MCH-33-VchpComplianceCredit.docx
Owners: @california-energy-commission/maintainers

Word docs for revision batch
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-ENV-03-InsulationInstallation.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-PLB-01a-NonHERS-MultifamilyCentralHotWaterSystemDistribution.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-PLB-01b-NonHERS-MultifamilyCentralDistNEEA.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-PLB-02a-NonHERS-SingleDwellingUnitHotWaterSystemDistribution.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-PLB-02b-NonHERS-SingleDwellingDistNEEA.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-PLB-21a-HERS-MultifamilyCentralHotWaterSystemDistribution.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-PLB-21b-HERS-MultifamilyCentralDistNEEA.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-PLB-22a-HERS-SingleDwellingUnitHotWaterSystemDistribution.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-PLB-22b-HERS-SingleDwellingDistNEEA.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-PVB-01-E - PV Systems.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-SRA-01-E-SolarReadyBuildings.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-SRA-02-E-MinimumSolarZoneAreaWorksheet.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-STH-01-SolarWaterHeatingSystems.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-EXC-20-H-VerificationOfExistingConditionsForAlterations.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-PLB-21a-HERS-MultifamilyCentralHotWaterSystemDistribution.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-PLB-21b-HERS-MultifamilyCentralDistNEEA.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-PLB-22a-HERS-SingleDwellingUnitHotWaterSystemDistribution.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-PLB-22b-HERS-SingleDwellingDistNEEA.docx
  CEC-Documents/Revision batch V2019.1.002/NRCV/2019-NRCV-MCH-04a-DuctLeakageTest-NewConst.docx
  CEC-Documents/Revision batch V2019.1.002/NRCV/2019-NRCV-MCH-04c-DuctLeakage-LLAHU.docx
  CEC-Documents/Revision batch V2019.1.002/NRCV/2019-NRCV-MCH-04d-DuctLeakageTest-ExistingConst.docx
  CEC-Documents/Revision batch V2019.1.002/NRCV/2019-NRCV-MCH-04e-DuctleakageTest-SealingAccesibleLeaks.docx
  CEC-Documents/Revision batch V2019.1.002/NRCV/2019-NRCV-MCH-24a-EnclosureAirLeakageWorksheet-SinglePointTest-Manual Meter.docx
  CEC-Documents/Revision batch V2019.1.002/NRCV/2019-NRCV-MCH-24b-EnclosureAirLeakageWorksheet-SinglePointTest-Automatic Meter.docx
  CEC-Documents/Revision batch V2019.1.002/NRCV/2019-NRCV-MCH-27b-HighriseResidential.docx
  CEC-Documents/Revision batch V2019.1.002/NRCV/2019-NRCV-MCH-27c-HighriseResidentialHighriseResidScheduledRealTimeControl.docx
  CEC-Documents/Revision batch V2019.1.002/NRCV/2019-NRCV-MCH-32-LocalMechanicalExhaust.docx
  CEC-Documents/Revision batch V2019.1.002/NRCV/2019-NRCV-PLB-22-HERS-HighRiseSingleDwellingUnitHotWaterSystemDistribution.docx
Owners: @california-energy-commission/maintainers

Revision 2019.1.002 Batch#2 (#215)
  deployed/schema/CF2R/CF2RENV03E.xsd
  deployed/schema/CF2R/CF2RMCH22cH.xsd
  deployed/schema/CF2R/CF2RMCH33H.xsd
  deployed/schema/CF2R/CF2RMCH34E.xsd
  deployed/schema/CF2R/CF2RPVB01E.xsd
  deployed/schema/CF2R/CF2RSRA01E.xsd
  deployed/schema/CF2R/CF2RSRA02E.xsd
  deployed/schema/CF2R/CF2RSTH01E.xsd
  deployed/schema/CF3R/CF3RMCH22cH.xsd
  deployed/schema/CF3R/CF3RMCH33H.xsd
  deployed/schema/base/ResCompliance.xsd
  deployed/schema/base/ResHvac.xsd
  schema/CF2R/CF2RENV03E.xsd
  schema/CF2R/CF2RMCH22cH.xsd
  schema/CF2R/CF2RMCH33H.xsd
  schema/CF2R/CF2RMCH34E.xsd
  schema/CF2R/CF2RPVB01E.xsd
  schema/CF2R/CF2RSRA01E.xsd
  schema/CF2R/CF2RSRA02E.xsd
  schema/CF2R/CF2RSTH01E.xsd
  schema/CF3R/CF3RMCH22cH.xsd
  schema/CF3R/CF3RMCH33H.xsd
  schema/base/ResCompliance.xsd
  schema/base/ResHvac.xsd
Owners: @california-energy-commission/software-developers

Revised Word docs
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-MCH-23a-AirflowRate-AllZonesCallingOnly.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-MCH-23b-AirflowRate-EveryZonalControlMode.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-MCH-23c-AirflowRate-BestThatIcanDo.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-MCH-23d-AirflowRate-MeasurementOnly-AllZonesCallingOnly.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-MCH-23e-AirflowRate-AllZonesCallingOnly-WithCFVCS.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-MCH-23f-AirflowRate-EveryZonalControlMode-WithCFVCS.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-MCH-27a-Single Family Attached Detached Ventilation.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-MCH-33-VchpComplianceCredit.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-PLB-01a-NonHERS-MultifamilyCentralHotWaterSystemDistribution.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-PLB-01b-NonHERS-MultifamilyCentralDistNEEA.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-PLB-02a-NonHERS-SingleDwellingUnitHotWaterSystemDistribution.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-PLB-02b-NonHERS-SingleDwellingDistNEEA.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-PLB-21a-HERS-MultifamilyCentralHotWaterSystemDistribution.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-PLB-21b-HERS-MultifamilyCentralDistNEEA.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-PLB-22a-HERS-SingleDwellingUnitHotWaterSystemDistribution.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-PLB-22b-HERS-SingleDwellingDistNEEA.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-MCH-23a-AirflowRate-AllZonesCallingOnly.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-MCH-23b-AirflowRate-EveryZonalControlMode.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-MCH-23c-AirflowRate-BestThatIcanDo.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-MCH-23d-AirflowRate-MeasurementOnly-AllZonesCallingOnly.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-MCH-23e-AirflowRate-AllZonesCallingOnly-WithCFVCS.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-MCH-23f-AirflowRate-EveryZonalControlMode-WithCFVCS.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-MCH-27a-Single Family Attached Detached Ventilation.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-MCH-31a-H-WholeHouseFanHERS-AirflowandWattsperWHF.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-MCH-31b-H-WholeHouseFanHERS-AirflowperWHFandTotalWatts.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-MCH-31c-H-WholeHouseFanHERS-TotalAirflowandWattsperWHF.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-MCH-31d-H-WholeHouseFanHERS-TotalAirflowandWatts.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-PLB-22a-HERS-SingleDwellingUnitHotWaterSystemDistribution.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-PLB-22b-HERS-SingleDwellingDistNEEA.docx
  CEC-Documents/Revision batch V2019.1.002/NRCV/2019-NRCV-PLB-22-HERS-HighRiseSingleDwellingUnitHotWaterSystemDistribution.docx
Owners: @california-energy-commission/maintainers

Revised Word docs
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-MCH-01a-SpaceConditioningSystem-Performance.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-MCH-01b-SpaceConditioningSystem-PrescriptiveAlterations.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-MCH-01c-SpaceConditioningSystem-PrescriptiveNCB.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-MCH-01d-SpaceConditioningSystem-Performance-E+A+A.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-MCH-25e-RefrigerantCharge-WinterSetup.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-MCH-25f-RefrigerantCharge-PackagedSystemManufacturerCert.docx
  CEC-Documents/Revision batch V2019.1.002/CF2R/2019-CF2R-MCH-31b-H-WholeHouseFanHERS-AirflowperWHFandTotalWatts.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-MCH-22c-FanEfficacy-AllZonesCallingOnly-WithCFVCS.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-MCH-24b-EnclosureAirLeakageWorksheet-SinglePointTest-Automatic Meter.docx
  CEC-Documents/Revision batch V2019.1.002/CF3R/2019-CF3R-MCH-26-RatedSystemVerification.docx
Owners: @california-energy-commission/maintainers

Commit Change Notes
  CEC-Documents/Revision batch V2019.1.002/Change Notes V2019.1.002 - final.docx
Owners: @california-energy-commission/maintainers

Fifth and Final group of revised schemas for 2019.1.002 (#220)
  deployed/schema/CF1R/CF1RALT01E.xsd
  deployed/schema/CF1R/CF1RALT02E.xsd
  deployed/schema/CF2R/CF2RMCH01aE.xsd
  deployed/schema/CF2R/CF2RMCH01bE.xsd
  deployed/schema/CF2R/CF2RMCH01cE.xsd
  deployed/schema/CF2R/CF2RMCH01dE.xsd
  deployed/schema/CF2R/CF2RSTH01E.xsd
  deployed/schema/base/ResCompliance.xsd
  schema/CF1R/CF1RALT01E.xsd
  schema/CF1R/CF1RALT02E.xsd
  schema/CF2R/CF2RMCH01aE.xsd
  schema/CF2R/CF2RMCH01bE.xsd
  schema/CF2R/CF2RMCH01cE.xsd
  schema/CF2R/CF2RMCH01dE.xsd
  schema/CF2R/CF2RSTH01E.xsd
  schema/base/ResCompliance.xsd
Owners: @california-energy-commission/software-developers

Update ResHvac.xsd (#221)
  schema/base/ResHvac.xsd
Owners: @california-energy-commission/software-developers

Deploy schema (#222)
  deployed/schema/base/ResHvac.xsd
Owners: @california-energy-commission/software-developers

Process and deploy new schema (#223)
  deployed/schema/base/ResCompliance.xsd
  schema/base/ResCompliance.xsd
Owners: @california-energy-commission/software-developers

Replace ResCommon (#224)
  deployed/schema/base/ResCommon.xsd
  schema/base/ResCommon.xsd
Owners: @california-energy-commission/software-developers

Update PLB (#225)
  deployed/schema/CF2R/CF2RPLB01aE.xsd
  deployed/schema/CF2R/CF2RPLB01bE.xsd
  deployed/schema/CF2R/CF2RPLB02aE.xsd
  deployed/schema/CF2R/CF2RPLB02bE.xsd
  deployed/schema/CF2R/CF2RPLB21aH.xsd
  deployed/schema/CF2R/CF2RPLB21bH.xsd
  deployed/schema/CF2R/CF2RPLB22aH.xsd
  deployed/schema/CF2R/CF2RPLB22bH.xsd
  deployed/schema/CF3R/CF3RPLB21aH.xsd
  deployed/schema/CF3R/CF3RPLB21bH.xsd
  deployed/schema/CF3R/CF3RPLB22aH.xsd
  deployed/schema/CF3R/CF3RPLB22bH.xsd
  schema/CF2R/CF2RPLB01aE.xsd
  schema/CF2R/CF2RPLB01bE.xsd
  schema/CF2R/CF2RPLB02aE.xsd
  schema/CF2R/CF2RPLB02bE.xsd
  schema/CF2R/CF2RPLB21aH.xsd
  schema/CF2R/CF2RPLB21bH.xsd
  schema/CF2R/CF2RPLB22aH.xsd
  schema/CF2R/CF2RPLB22bH.xsd
  schema/CF3R/CF3RPLB21aH.xsd
  schema/CF3R/CF3RPLB21bH.xsd
  schema/CF3R/CF3RPLB22aH.xsd
  schema/CF3R/CF3RPLB22bH.xsd
Owners: @california-energy-commission/software-developers

Update ResCommon.xsd (#227)
  schema/base/ResCommon.xsd
Owners: @california-energy-commission/software-developers

Deploy schema and cleanup (#228)
  deployed/schema/NRCV/CF3RPLB21aH.xsd
  deployed/schema/NRCV/CF3RPLB21bH.xsd
  deployed/schema/NRCV/CF3RPLB22aH.xsd
  deployed/schema/NRCV/CF3RPLB22bH.xsd
  deployed/schema/base/ResCommon.xsd
  schema/NRCV/CF3RPLB21aH.xsd
  schema/NRCV/CF3RPLB21bH.xsd
  schema/NRCV/CF3RPLB22aH.xsd
  schema/NRCV/CF3RPLB22bH.xsd
Owners: @california-energy-commission/software-developers

Updates to NCB and ResCompliance (#229)
  deployed/schema/CF1R/CF1RNCB01E.xsd
  deployed/schema/base/ResCompliance.xsd
  schema/CF1R/CF1RNCB01E.xsd
  schema/base/ResCompliance.xsd
Owners: @california-energy-commission/software-developers

Revised NCB Word doc
  CEC-Documents/word/CF1R/2019-CF1R-NCB-01-E-PrescriptiveNewlyConstructedBuilding.docx
  CEC-Documents/word/CF1R/~$19-CF1R-NCB-01-E-PrescriptiveNewlyConstructedBuilding.docx
Owners: @california-energy-commission/maintainers

Process and deploy revised schemas (#232)
  deployed/schema/CF2R/CF2RMCH01cE.xsd
  deployed/schema/CF2R/CF2RMCH01dE.xsd
  schema/CF2R/CF2RMCH01cE.xsd
  schema/CF2R/CF2RMCH01dE.xsd
Owners: @california-energy-commission/software-developers

Patch res compliance 1223 (#235)
  deployed/schema/base/ResCompliance.xsd
  schema/base/ResCompliance.xsd
Owners: @california-energy-commission/software-developers

Patch plb0222 (#252)
  deployed/schema/CF2R/CF2RPLB02bE.xsd
  deployed/schema/CF2R/CF2RPLB22bH.xsd
  deployed/schema/CF3R/CF3RPLB22bH.xsd
  schema/CF2R/CF2RPLB02bE.xsd
  schema/CF2R/CF2RPLB22bH.xsd
  schema/CF3R/CF3RPLB22bH.xsd
Owners: @california-energy-commission/software-developers

This is just to move the updated NCB to the correct folder
  CEC-Documents/Revision batch V2019.1.002/CF1R/2019-CF1R-NCB-01-E-PrescriptiveNewlyConstructedBuilding.docx
  CEC-Documents/word/CF1R/~$19-CF1R-NCB-01-E-PrescriptiveNewlyConstructedBuilding.docx
Owners: @california-energy-commission/maintainers
